body{
    font-family: Optima, Segoe, "Segoe UI";
    margin: 0;
    background: black;
    color: white;
}
header{
    background: rgb(239, 199, 219);
    margin: 0;
    padding: 1rem;
}
header ul{
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 30px;
}
header ul a{
    text-decoration: none;
    color:rgb(152,47,103);
    font-size: 18px;
}
header ul a:hover{
    color: white;
}
footer{
    background: rgb(239, 199, 219);
    margin: 0;
    padding: 3rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
footer ul{
    list-style-type:none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 20px;
    margin: 0;
}
footer p{
    margin: 5px;
    color: black;
}
footer ul a img{
    width: 30px;
}
#homepage{
    margin: 0;
    background-color: rgb(239, 199, 219);

}
#index-home{
    background-color:rgb(239, 199, 219) ;
    margin: 0 20px;
    padding: 1rem 3rem;
    padding-bottom: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    border: 2px solid rgb(152,47,103) ;
    border-bottom: 0;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
#index-home img{
    width: 400px;
    margin-bottom: 0;
}
#index-home a{
    text-decoration: none;
    color:rgb(152,47,103);
    font-family: "Brush Script MT", cursive;
    font-weight: lighter;
    font-size: 100px;
    text-shadow: -3px -1px 2px rgba(152,47,103,30);
}
#index-home a:hover{
    transition: 0.3s;
    text-shadow: 3px 5px 10px rgba(152,47,103,30);
}
#index-tour{
    background-image: url(background.jpg) ;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 5rem 2rem;
    margin: 0 0.5rem;
    border-radius: 10px;
}
#index-tour img{
    width: 700px;
    border-radius: 1rem;
    box-shadow:-5px -2px 8px rgba(0,0,0,30);
}
#index-tour h1{
    color: rgb(152,47,103);
}
#index-tour img:hover{
    transition: 0.3s;
    border-radius: 0;
    box-shadow:5px 2px 8px rgba(0,0,0,30);
}
#index-music{
    background-color:rgb(239, 199, 219) ;
    margin: 0 20px;
    padding: 1rem 3rem;
    padding-bottom: 20px;
    border-left: 2px solid rgb(152,47,103);
    border-bottom: 2px solid rgb(152,47,103);
    border-right: 2px solid rgb(152,47,103);
    border-top-left-radius:0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: rgb(152,47,103);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
#index-music img{
    max-width: 300px;
    margin: 20px;
}
#index-music h3{
    padding: 15px;
    background-color: rgb(152,47,103);
    border-radius: 10px;
}
#index-music h3:hover{
    transition: 0.3s;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(152,47,103);
    border-radius: 0;
}
#index-music a{
    text-decoration: none;
    color:rgb(239, 199, 219);
}
#flexbox{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
#about{
    background-color: white;
    padding: 2rem;
    color: rgb(152,47,103);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}
#about img{
    max-width: 300px;
    margin: 2rem;
    border-radius: 20px;
    box-shadow: -5px -3px 10px rgba(0,0,0,10);
}
#about-dior{
    max-width: 800px;
    text-align: justify;
    padding: 1rem 0;
    border-bottom: 2px solid rgb(152,47,103);
    border-top: 2px solid rgb(152,47,103);
}
#dior-experience{
    max-width: 800px;
    text-align: justify;
    padding: 1rem 0;
    border-bottom: 2px solid rgb(152,47,103);
}
#follow{
    max-width: 800px;
    background-color:rgb(152,47,103);
    color: rgb(239, 199, 219);
    border-radius: 10px;
    box-shadow: -5px -3px 10px rgba(0,0,0,30) ;
    padding: 2rem;
    margin-top: 3rem;
    text-align: center;
}
#subscribe-form{
    margin: 20px;
}
.submit-info{
    margin: 10px;
    font-size: 20px;
}
.submit-info input{
    font-size: 15px;
    margin-left: 10px;
}
input{
    padding: 10px;
    border-radius: 10px;
    border: none;
}
#submit-tool{
    font-size: 20px;
    margin-top: 2rem;
    color: rgb(152,47,103);
    background-color: rgb(239, 199, 219);
}
#submit-tool:hover{
    transition: 0.3s;
    padding-right: 20px;
    padding-left: 20px;
}
#tour{
    background-color: white;
    color: rgb(152,47,103);
    padding: 2rem 6rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
#tour h1{
    margin-top: 10px;
}
.blog-post{
    color: rgb(152,47,103);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.blog-post h1{
    margin: 0;
    font-family: "Brush Script MT", cursive;
    font-size: 40px;
    font-weight: 50;
}
.blog-post img{
    max-width: 500px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: -5px -3px 10px rgba(0,0,0,30)
}
.blog-post h3{
    margin: 10px;
}
.blog-post h2{
    margin: 5px;
}
.blog-post p{
    text-align: justify;
    line-height: 20px;
}
.blog-post summary{
    font-family: Didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
    border: 2px solid rgb(239, 199, 219);
    background-color: rgb(239, 199, 219);
    border-radius: 10px;
    padding: 10px;
}
.blog-post summary:hover{
    transition: 0.3s;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0;
    border-color: rgb(152,47,103);
    background-color: rgb(152,47,103);
    color: rgb(239, 199, 219);
}
.blog-post a{
    text-decoration: none;
    color: rgb(152,47,103);
}
.blog-post a:hover{
    transition: 0,3s;
    font-style: normal;
}