---
import Layout from "../layouts/Layout.astro"
---

<Layout title="ABOUT | DIOR">
    
<main id="about">
    <h1>ABOUT DIOR</h1>
    <img src="/about.jpg" alt="portrait">
    <div id="about-dior">
        <p>DIOR is a Malaysian based Chinese Singer and Song- writer who rose to frame in 2020 after releasing her debut single "Love Myself More". Her duet with Firdhaus, “Divorce in Ghana”, ranked No. 2 on Spotify’s 2024 Global Most-Streamed Mandopop Songs Chart, while “If That Call Had Been Answered” was featured in the Contemporary Pop Playlist at the 2024 Soda Music & Douyin Music Vision Annual Gala.</p>
        <p>In celebration of her 5th anniversary since her debut, the songstress is set to hold her very first concert, “Kampung Girl: Ordinary People”, at the end of the year. This milestone is not only the realisation of her dream, but also a way for her to share her personal story through music—bringing the most genuine version of herself to the audience.</p>
    </div>
    
    <div id="dior-experience">

        <h3>June, 2025</h3>
        <p>DIOR released a new single titled Save Some (节约用爱) in collaboration with Sony Music Taiwan, with the song composed by renowned music producer Alex Chang Jien.</p>

        <h3>Jan, 2025</h3>
        <p>during Chinese New Year celebrations in Batu Pahat, DIOR staged a mini showcase titled Messing With 80 Cents: Personal Spring Festival Gala, limited to 80 seats, with tickets priced at 80 Malaysian sen as a token of appreciation to her hometown supporters.</p>

        <h3>Dec, 2024</h3>
        <p>Divorce in Ghana ranked as the second most-streamed Mandarin-language song on Spotify for the year. It was later also named one of the Top Ten Golden Songs at the 2024 Soda Music & Douyin Music Awards, while 'If That Call Had Been Answered'(如果那通电话有接通) was included in the Trending Pop Playlist.</p>

        <h3>May, 2024</h3>
        <p>DIOR released 'If That Call Had Been Answered'(如果那通电话有接通), an original song honoring her late mother. Inspired by DIOR’s real past experience, the music video captures both the immediate trauma and its lingering echo. The lyrics progress from regret and guilt through fond memories of her time with her mother, ending with acceptance and a final blessing.The song was later covered by Chinese singer Zhang Xincheng on the popular music variety show Singing with Legends Season 6.</p>

        <h3>Dec, 2023</h3>
        <p>Her first self-composed original song, I’ve Been Better (你最近过得好吗?), was released in remembrance of her mother, who died in a car accident.</p>

        <h3>August, 2023</h3>
        <p>DIOR released her first collaborative single, Divorce in Ghana (在加纳共和国离婚) featuring Firdhaus Farmizi. The track immediately topped multiple major Chinese streaming-platform charts and became one of the breakthrough Mandarin singles of the year.</p>

        <h3>Feb,2023</h3>
        <p>She headlined her first solo show, "I Want to Earn 1Million!" in Johor Bahru, where she surprised the audience by offering a full ticket refund on her brthday. Her unique performance style garnered a growing fan base, with her nationwide tour selling out at every stop.</p>

        <h3>Jan, 2020</h3>
        <p>DIOR won the TikTok Song Cover Challenge at the AIM Chinese Music Awards with her cover of Yi Ran Shi Peng You (依然是朋友, Still Friends), and was invited to open the ceremony.</p>

        <h3>Dec, 2019</h3>
        <p>DIOR won the TikTok Song Cover Challenge at the AIM Chinese Music Awards with her cover of Still Friends (依然是朋友), and was invited to open the ceremony.</p>

        <h3>2016</h3>
        <p>DIOR joined the national singing competition which organized by Easynote Studio and began posting cover songs online</p>

    </div>

    <div id="follow">
        <h1>Stay in Touch if you like DIOR</h1>
        <p>Subscribe to our email list to know about DIOR's new music and more info.</p>

        <div id="subscribe-form">
            <form>
                <div class="submit-info">
                    <label>Name</label>
                    <input type="text" id="name" placeholder="Your Name">
                </div>

                <div class="submit-info">
                    <label>Email</label>
                    <input type="email" id="email" placeholder="Email Adress">
                </div>

                <div class="submit-info">
                    <label>Birthday</label>
                    <input type="date" id="birthdate" placeholder="Tell us when is your birthday">
                </div>

                <input type="submit" value="Submit" id="submit-tool">
            </form>
        </div>
    </div>
</main> 
</Layout>