---
import Layout from "../layouts/Layout.astro"
import Blog1 from "../content/blog1.md"
import Blog2 from "../content/blog2.md"
import Blog3 from "../content/blog3.md"
---

<Layout title="NEWS / TOUR | DIOR">
<main id="tour">
    <h1>NEWS / TOURS</h1>
    
    <div class="blog-post">
        <Blog2/>
    </div>

    <div class="blog-post">
        <Blog3/>
    </div>

    <div class="blog-post">
        <Blog1/>
    </div>
    

</main>




</Layout>